header{
    width:100%;
    height: 5%;
    color: white;
    padding: 0.5em ;
    background-color: #5AC0CE;
    font-size: 1.5em;
    position:fixed;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
}
header img{
    float: left;
}
span{
    text-align: center;

}
footer{
    width:100%;
    height:  5%;
    position:fixed;
    bottom: 1em;
    left: 0;
    bottom: 0;
    margin: 0 2% ;
    padding: 1em 0 ;
    background-color: white;
}
body{
    width:100%;
    height:100%;
    margin: 3%  0  7% 0;
}
hr{
    height:1px;
    border:none;
    border-top:1px solid #D6D6D6;
}
.little-body hr{
    margin: 0 1em ;
}
footer div.left{
    float: left;
    border-radius: 0.3em;
    border: 2px solid #5AC0CE ;
    background-color:  white;
    color: #5AC0CE;
    padding: 0.8em 0 ;
    text-align: center;
    font-size: 1em;
    width:48%;
}
footer div.right{
    float: right;
    border-radius: 0.3em;
    border: 2px solid #5AC0CE ;
    background-color:  #5AC0CE;
    color: white;
    padding: 0.8em 0 ;
    text-align: center;
    font-size: 1em;
    width:48%;
}

.header-bottom{
    overflow:hidden;
    padding: 1em;
    background:url(image/task5-1_02.png) no-repeat 0px 0px;
    background-size: 100% auto;
    margin:  0;
}
.header-bottom .left{
    float: left;
    width: 5em;
    display: inline;
    margin: 0.5em;
}
.header-bottom .right{
    float: left;
    width: auto;
    display: inline;
    margin: 0.5em;
    color:  white;
}
.header-bottom .left img  {
    display:block;
    width: 100%;
    height: 100%;
}
.header-bottom .right img  {
    width: 0.7em;
}
.blue-bar{
    padding: 0 0.33em 0 0;
    background-color: #5AC0CE;
    display: inline;
}
.black-bar{
    padding: 0 0.05em 0 0;
    margin: 0  1em;
    background-color: #D6D6D6;
    display: inline;
}
.type{
    color: #D6D6D6;
    width: 8em;
    display: inline;
    text-align: center;
}
.content{
    display:inline;
}
.decription{
    margin: 1.5em;
    overflow: hidden;
}
little-body{
    margin: 0  2em;
    padding: 2em;
}
#img-blur{

}
#star{
    width: 1em;
}